---
---

@import "{{ site.theme }}";

$f-sans-serif: Arial, Helvetica, sans-serif;

html, body {
  margin: 0;
  background: #f9f9f9;
}

.markdown-body {
  > h1:first-child {
    display: none
  }
  font-family: $f-sans-serif;
  font-size: 14px;
  a {
    color: #308dc0;
  }
}


